<app-header></app-header>

<section id="categoryListSection1">
  <div id="categoryListHeadSection">
    <h1>Categories</h1>
    <ul>
      <li *ngFor="let category of categories">
        <div id="categoryListBodySection">
          <a [routerLink]="['/category', category.id]">
            <div>
              <!-- Title -->            
              <h2>{{ category.title }}</h2>
            </div>
            <div>
              <!-- Description -->
              <p>{{ category.description }}</p>
            </div>
          </a>

          <!-- Buttons (Delete and Edit) -->
          <div class="flex space-x-2">
            <!-- Delete Button -->
            <button (click)="deleteCategory($event, category.id)" class="pr-4 text-2xl text-red-600 hover:text-red-800">
              <i class="fa-solid fa-trash-can"></i>
            </button>

            <!-- Edit Button -->
            <button (click)="editCategory(category.id)" class="text-2xl text-blue-600 hover:text-blue-800">
              <i class="fa-solid fa-edit"></i>
            </button>
            <!-- Arrow -->
            <a [routerLink]="['/category', category.id]">
              <span class="ml-5 text-xl text-white">
                <i class="fa-solid fa-chevron-right"></i>
              </span>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div id="categorySection1NewFormContainer">
    <div id="categorySection1NewForm">
      <a [routerLink]="['/categoryForm']">
        Add New Category
      </a>
    </div>
    <div id="categorySection1NewForm">
      <a [routerLink]="['/articleForm']">
        Add New Article
      </a>
    </div>
  </div>
</section>

<app-footer></app-footer>