<header id="header">
    <nav>
        <ul>
            <li>
                <div id="headerLogo">
                    <i class="fa-solid fa-vial"></i>
                </div>
            </li>
            <li>
                <button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/']">Home</a>
                </button>
            </li>
            <li>
                <button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/signIn']">signIn</a>
                </button>
            </li>
            <li>
                <button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/signUp']">Home</a>
                </button>
            </li>
        </ul>
    </nav>
</header>