<header id="header">
    <nav>
        <ul>
            <li>
                <div id="headerLogo">
                    <i class="fa-solid fa-vial"></i>
                </div>
            </li>
            <li>
                <button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/']">Home</a>
                </button>
            </li>
            <li>
                <button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/profile']">Profile</a>
                </button>
            </li>
            <li>
                <button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/signIn']">sign In</a>
                </button>
            </li>
            <li>
                <button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/signUp']">Sign Up</a>
                </button>
            </li>
            <li id="headerSignOut">
                <button routerLinkActive="active">
                    <a [routerLink]="['/signOut']">Sign Out</a>
                </button>
            </li>
        </ul>
    </nav>
</header>